$fontTexto: 'Inter', sans-serif;
$fontTitulo: 'Nunito Sans', sans-serif;

$primary: #00AEEE;
$secondary: #1B1F3D;
$tertiary: #003218;
$verde-rgb: rgba(166, 165, 30, 0.2);

$fontCorTexto: #4C5458;
$fontCorTitulo: #3D3D46;

$preto: #151515;
$branco: #fff;
$vermelho: #EA0036;
$bordas: #CAD1EB;