$fontTexto: 'Montserrat', sans-serif;
$fontTitulo: 'Montserrat', sans-serif;

$primary: #1003AA;
$secondary: #00002B;
$tertiary: #FFED00;
$verde-rgb: rgba(166, 165, 30, 0.2);

$corSubTitulos: #789EF8;

$fontCorTexto: #484D51;
$fontCorTitulo: #00002B;

$preto: #151515;
$branco: #fff;
$vermelho: #EA0036;
$bordas: #CAD1EB;