$fontTexto: 'Inter', sans-serif;
$fontTitulo: 'Funnel Display', sans-serif;

$primary: #2B71CA;
$secondary: #2443A9;
$tertiary: #FFED00;
$verde-rgb: rgba(166, 165, 30, 0.2);

$corSubTitulos: #789EF8;

$fontCorTexto: #606F8E;
$fontCorTitulo: #0F204D;

$preto: #151515;
$branco: #fff;
$vermelho: #EA0036;
$bordas: #CAD1EB;