//==============================================================================
// Mixins
//==============================================================================

@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($properties...) {
  transition: $properties;
}

@mixin pseudo-element($display: block, $content: "") {
  content: $content;
  display: $display;
}

@mixin social-link {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin: 0;
  @include flex-center;
  @include transition(0.5s ease-in-out);

  svg {
    margin: 0;
    @include transition(fill 0.5s ease-in-out);
  }
}

@mixin nav-link-underline($color, $hover-color, $top) {
  position: relative;
  @include transition(color 0.3s ease-in-out);

  &::before {
    @include pseudo-element;
    width: 0%;
    height: 2px;
    background: $color;
    @include transition(0.5s ease-in-out);
    position: absolute;
    top: $top;
  }

  &:hover {
    color: $hover-color;

    &::before {
      width: 90%;
      background: $hover-color;
    }
  }
}

//==============================================================================
// Component: Dropdown Menu
//==============================================================================

.dropdown-menu {
  background: #fff;
  padding: 0;
  width: 272px;

  &::before {
    @include pseudo-element;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
  }

  a {
    color: #484848 !important;
  }
}

.dropdown-item {
  padding: 10px 45px 10px 15px;
  margin-left: 0;

  &.active,
  &:active,
  &:focus,
  &:hover {
    color: #fff !important;
    text-decoration: none;
  }
}

.desktop {
  ul.dropdown-menu .dropdown-menu {
    left: 270px;
    top: 0;

    &.show {
      position: initial;
      border: 0;
      margin: 0;
      background: transparent;
      padding: 0px 10px;
    }
  }

  nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}

.show a:hover ul.dropdown-menu {
  display: block;
  position: absolute;
}

//==============================================================================
// Component: Header
//==============================================================================

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 26px;
  z-index: 999;
  @include transition(1s);

  &.normal {
    @media (min-width: 992px) {
      top: -200px;
    }
  }

  &.fixa {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .logo-selo {
    @include flex-center(row, flex-start);

    a {
      margin-right: 20px;

      img {
        max-width: 233px;
      }
    }

    .separador {
      width: 2px;
      height: 61px;
      background: #c9c9c9;
    }
  }

  .content-header-two-cols {
    @include flex-center(column, center, flex-end);

    .nav-top {
      @include flex-center;
      gap: 20px;
      margin-bottom: 15px;

      @media screen and (max-width: 992px) {
        display: none;
      }

      .items-links {
        @include flex-center;
        gap: 20px;

        ul {
          list-style: none;
          margin: 0 !important;
          padding-left: 0 !important;
          display: flex;
          gap: 20px;

          li a {
            @include social-link;
            background: $verde-rgb;

            svg {
              fill: $primary;
            }

            &:hover {
              background: $primary;

              svg {
                fill: $branco;
              }
            }
          }
        }

        >a {
          @include flex-center;
          @include transition(0.5s ease-in-out);

          svg {
            @include transition(0.5s ease-in-out);
            margin-right: 10px;
            fill: #007a3b;
          }

          &:hover {
            color: $primary;

            svg {
              transform: scale(1.1);
            }
          }
        }

        .separador {
          width: 1px;
          height: 24px;
          border: 1px solid #cecece;
        }
      }

      .container-input {
        max-width: 196px;
        width: 100%;
        height: 36px;
        background: $branco;
        border-radius: 10px;
        padding: 10px;
        display: flex;

        button {
          @include flex-center;
          padding: 7px;
          border: 0;
          background: transparent;
        }

        input {
          width: 100%;
          background: transparent;
          padding: 0 10px;
          outline: 0;
          border: 0;
        }
      }

      .separador {
        width: 1px;
        height: 26px;
        background: $branco;
      }
    }

    .content-menu-justify {
      @include flex-center;

      .links {
        @include flex-center;

        .separador {
          width: 1px;
          height: 24px;
          border: 1px solid #cecece;
          margin: 0 20px;
        }

        a {
          margin: 0 20px;
        }

        .busca_bt {
          @include social-link;
          background: $secondary;
        }

        ul {
          list-style: none;
          margin: 0 !important;
          padding-left: 0 !important;
          display: flex;
          gap: 20px;

          li a {
            @include social-link;
            background: transparent;
            border: 1px solid $secondary;

            svg {
              fill: $secondary;
            }

            &:hover {
              background: $primary;

              svg {
                fill: $branco;
              }
            }
          }
        }
      }

      nav {
        padding: 0;

        ul li {
          margin: 0 5px;
          width: fit-content;

          a {
            color: $fontTexto;
            display: block;
            width: fit-content;
            @include nav-link-underline($primary, $primary, 28px);

            &:hover::before {
              background: $secondary;
            }
          }
        }
      }
    }
  }

  .navbar {
    padding: 0;

    #menu-menu-principal li a {
      color: #2b2b2b;
      font-family: $fontTexto;
      font-weight: 400;
      font-size: 16px;
      line-height: 29px;
      display: block;
      width: fit-content;
      @include nav-link-underline($primary, $secondary, 35px);

      &.active {
        color: $primary;
      }
    }
  }
}

.desktop {
  @media (max-width: 1201px) {
    display: none;
  }
}

// Shared styles for .menu-item and .submenu
.menu-item {
  position: relative;
  padding-bottom: 5px;

  &:hover .submenu {
    display: block;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -25px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    min-width: 200px;
    border-radius: 8px;

    a {
      display: block;
      padding: 10px 15px;
      color: #333;
      text-decoration: none;

      &:hover {
        background-color: $verde-rgb;
      }
    }
  }
}

//==============================================================================
// Component: Sidenav (Mobile Menu)
//==============================================================================

.sidenav {
  top: 60px;
  right: -100%;
  width: 100%;
  height: calc(100vh - 60px);
  position: fixed;
  z-index: 9999;
  background-color: #eaeaea;
  @include transition(0.3s);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 20px;

  .navbar {
    width: 100%;

    ul {
      width: 100%;
      margin: 30px 0;

      li a {
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        color: $secondary;
        padding: 12px 15px;

        &.active {
          background: #484848;
          color: #fff;
        }
      }
    }
  }

  .redes-sociais {
    @include flex-center;
    gap: 10px;
    width: 100%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 30px 0;
      padding: 0;
      width: fit-content;

      @media screen and (max-width: 992px) {
        justify-content: center;
      }

      li a {
        @include social-link;
        background: #cb9373;
        padding: 0;

        svg {
          fill: $secondary;
        }

        &:hover svg {
          fill: $branco;
        }
      }
    }
  }

  .links {
    margin: 0;
  }

  .items-links {
    @include flex-center(column);
    width: 100%;
    gap: 10px;
    margin-bottom: 8px;

    >a {
      @include flex-center;
      @include transition(0.5s ease-in-out);
      color: $secondary;

      svg {
        @include transition(0.5s ease-in-out);
        margin-right: 10px;
      }

      &:hover {
        color: $primary;

        svg {
          transform: scale(1.1);
        }
      }
    }

    .menu-item a {
      color: #fff;

      svg {
        fill: $branco !important;
      }
    }

    .separador {
      width: 1px;
      height: 24px;
      border: 1px solid #cecece;
    }
  }
}

#menu-menu-principal-1 .dropdown-menu.show {
  margin: 0;
}

//==============================================================================
// Component: Mobile Menu Icon & Header
//==============================================================================

.sc-mob-menu__trigger {
  position: relative;
  cursor: pointer;
  width: 35px;
  height: 22px;
}

.icon-menu {
  cursor: pointer;
  float: right;
  display: block;

  span {
    height: 3px;
    width: 100%;
    background-color: $branco;
    position: absolute;
    transition: top 0.3s ease 0.3s, transform 0.3s, opacity 0.2s ease 0.3s;

    &:nth-child(1) {
      top: 0;
      transform: translate(0, -50%);
    }

    &:nth-child(2) {
      top: 50%;
      width: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:nth-child(3) {
      top: 100%;
      transform: translate(0, -50%);
    }
  }

  &.active span {
    &:nth-child(1) {
      top: 50%;
      transform: translate(0, -50%) rotate(45deg);
      transition: top 0.3s, transform 0.3s ease 0.3s;
    }

    &:nth-child(2) {
      opacity: 0;
      transition: top 0.3s, opacity 0.1s ease 0.3s;
    }

    &:nth-child(3) {
      top: 50%;
      transform: translate(0, -50%) rotate(-45deg);
      transition: top 0.3s, transform 0.3s ease 0.3s;
    }
  }
}

.mob_header {
  background: $primary;
  position: fixed;
  @include transition(all 0.3s ease-in-out 0s);
  width: 100%;
  z-index: 99;
  top: 0;
  height: 60px;
  padding: 0;
  @include flex-center(row, initial, center);

  .marca img {
    width: 170px;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

//==============================================================================
// Placeholders & Utilities
//==============================================================================

.header-placeholder,
.link-top-placeholder {
  height: 92px;

  @media screen and (max-width: 1200px) {
    height: 60px !important;
  }
}

.link-top-placeholder {
  height: 174px;

  @media screen and (max-width: 992px) {
    height: 60px !important;
  }
}

//==============================================================================
// Component: Modal
//==============================================================================

.modal {
  display: none;
  position: fixed;
  z-index: 91000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  @include flex-center;

  .modal-content {
    position: relative;
    width: 80%;
    box-sizing: border-box;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.close-btn,
.close {
  cursor: pointer !important;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-btn {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  top: 10px;
}

.close {
  @include flex-center;
  opacity: 1 !important;
  background: #fff;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}